@model List<WSAD_App1.Models.ViewModels.ManageSessions.SessionViewModel>

@{
    ViewBag.Title = "Sessions";
}

<h2>Available Sessions</h2>

@using (Html.BeginForm("AddToSessionOrder","SessionCheckout"))
{
<table class="table">
    <tr>
        <th>&nbsp;</th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Presenter
        </th>
        <th>
            Room
        </th>
        <th>
            Time
        </th>
        <th>
            Occupancy
        </th>
        <th>
            Current Enrollment
        </th>
        
    </tr>

@*@foreach (var item in Model)*@
    @for(int i = 0;i<Model.Count; i++)
{
    var item = Model[i];
    <tr>
        <td>
            @Html.HiddenFor(modelItem => Model[i].Id)
            @Html.CheckBoxFor(modelItem => Model[i].IsSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupancy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentEnrollment)
        </td>
        
        
    </tr>
}

</table>
    <button type="submit">Save Session</button>
}